@import '../../../styles/settings.scss';

.single-item-container {
    display: flex;
    max-width: 100% !important;

    &.container {
        padding: 0;
    }

    .single-item-photo {
        padding: 0;
        min-height: 36rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: solid 1px $color-text-light;
        }
    }
    
    .single-item-desc {
        padding-left: $base-size * 2;
        padding-right: 0;

        p {
            text-align: justify;
        }

        button {
            margin: 0;
            align-self: flex-end;
        }

    }
}