@import '../../../styles/settings.scss';

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    align-items: center;

    i {
        margin: 0 $base-size;
    }
}