@import '../../../styles/settings.scss';

.item-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: flex-end;

    margin-left: $base-size;
    margin-bottom: $base-size;
    background-color: darken($color-text-bright, 3%);
    padding: $base-size;
    transition: .2s;
    cursor: pointer;

    .item-summary-card {
        display: block;
        border: none;
        background-color: transparent;

        .badge {
            display: inline;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-top: $base-size * 0.5;
            margin-bottom: $base-size * 0.5;
        }

        .card-body {
            padding: 0;  
        }
    }
}

.item-summary:hover {
    transition: .2s;
    background-color: darken($color-text-bright, 6%);
}