@import '../../../styles/settings.scss';

.discount-code {
    margin-top: $base-size;

    .discount-code-input {
        display: flex;

        input {
            margin-right: $base-size;
        }
    }
}