@import '../../../styles/settings.scss';

.footnote {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding-top: 1rem;

    @media(max-width: 768px) {
        flex-direction: column;

        li:first-of-type {
            margin-left: 0;
        }
    }
}